body {
    font-family: 'Helvetica', sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-flex;
    align-items: center;
    background-color: black;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    z-index: 10;
}

header img {
    height: 50px;
    margin-left: 10px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    width:90%;
    gap: 2rem;
}

header a {
    display: inline-block;
    text-decoration: underline;
}

section {
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    width: 1200px;
}

.banner {
    display: flex;
    align-items: center;
    position: static;
    top: 69px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    height: 700px;
}

.banner div {
    background-color:black;
    width: 100%;
}

h2, h4, h5 {
    margin: 10px 0;
}

.tea-of-the-month {
    width: 1000px;
}

.flex-tea {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tea img {
    height: 200px;
    width: 300px;
}

.locations {
    box-sizing: border-box;
    height: 500px;
    background: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    padding: 5%;
}

.flex-locations {
    display: inline-flex;
    justify-content: center;
    gap: 40px;
    margin-top: 15px;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    margin-right: 40px;
    background-color: black;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}

footer {
    padding-left: 20px;
    text-align: left;
}